<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a news article with Natural Language Processing</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="urlForm">
                    <input id="name" type="text" name="url" placeholder="Enter URL" required>
                    <button id="submitButton" type="submit">Submit</button>
                </form>
                
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <ul>
                        <li>
                            <h3>Text Agreement: </h3>
                            <p id="agreement"></p>
                            <h4>Subjectivity: </h4>
                            <p id="subjectivity"></p>
                        </li>
                        <li>
                            <h3>Text Confidence: </h3>
                            <p id="confidence"></p>
                            <h4>Irony: </h4>
                            <p id="irony"></p>
                        </li>
                        <h3>Score Tag: </h3>
                        <p id="score_tag"></p>
                    </ul>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
              });
            }
          </script>
          
    </body>
</html>
